@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using KnerdyKnitter.Models;
<div class="container">
<div class="row">
  <div class="col s12 m6 l6">
    <form class="edit-form row" id="editForm" action="/scarf/create" method="post">
        <h1>Create a pattern!</h1>
        <div class="row">
          <div class="input-field col s6 dimensions">
            <input class ="validate" type="number" onchange="changeDimensions()" value="@Model.Width" name="width" id="width">
            <label class="text-dark">Stitches: </label>
          </div>
          <div class="input-field col s6 dimensions">
            <input class ="validate" type="number" onchange="changeDimensions()" value="@Model.Length" name="length" id="length">
            <label class="text-dark">Rows: </label>
          </div>
          <div class="col s12">
            <div class="row">
              <div class="col s3 select-color">
                <label class="text-dark">Primary:</label>
                <input class="validate" type="color" onchange="changePrimaryColor()" value="@Model.Primary" name="primary" id="primaryColor">
              </div>
              <div class="col s3 select-color">
                <label class="text-dark">Secondary:</label>
                <input class ="validate" type="color" onchange="changeSecondaryColor()" value="@Model.Secondary" name="secondary" id="secondaryColor"><br />
              </div>

              <div class="input-field col s3" id="select-rule">
                <input class ="validate" type="number" min="1" max="256" onchange="changeRule()" value="30" name="rule" id="rule">
                <label class="text-dark">Rule: </label>
              </div>
              <div class="input-field col s3">
                <button class="deep-purple lighten-3 waves-effect waves-light btn" type="submit" id="saveChanges">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div> <!-- end of form -->
  <div class="col 5 scarf-display">
    <div class="row flex-responsive scarf-svg">
      <div class="f-col-4 flex-center scarf-container">
        <svg class="scarf" width="1000" height="2000">
            @for (var row = 0; row < Model.Creation.Length/Model.Creation.GetLength(0); row++)
            {
                for (var col = 0; col < Model.Creation.GetLength(0); col++)
                {
                  var xValue=col*20;
                  var yValue=row*20;
                  if (Model.Creation[col, row]==0)
                  {
                      <rect id="" x="@xValue" y="@yValue" width="20" height="20" class="primary cell" />
                  }
                  else
                  {
                      <rect id=""  x="@xValue" y="@yValue" width="20" height="20" class="secondary cell" />
                  }
                }
            }
        </svg>
      </div>
    </div>
  </div>
</div>
